body {
  font-family: "Montserrat";
  text-align: center;
}

#title {
  /* background-color: #ff4c68; */
  padding-bottom: 80px;
  /* text-align: left; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-bold";
}

h1 {
  font-size: 3rem;
  line-height: 1.5rem;
  /* margin-left: 110px; */
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 5%;
}

.white-section {
  background-color: #fff;
}

.colored-section {
  background-color: #ff4c68;
}

title {
  color: white;
  padding: 60px 0;
  margin-right: 0;
  font-size: 3rem;
}

/* Headings */
.big-heading {
  font-family: 900px;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
  padding-top: 20px;
  padding-left: 110px;
  margin-top: 80px;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation bar*/
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 92px;
}

.nav-item {
  padding: 0 30px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/** Download Buttons**/
.download-button {
  margin-left: 110px;
}

/** Title - Image**/
.title-image {
  /* padding-top: 40px; */
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  margin-top: 35px;
  right: 40%;
}

/** Feature section**/
#features {
  padding: 7% 12%;
  /* background-color: #fff; */
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial section  */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* What er did above with the .carousel-item is to allow the carousel items to be inside the anchor tags  */
.carousel-item {
  padding: 7% 15%;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* footer section */
@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  /* background-color: #ff4c68; */
  font-family: "Montserrat-black";
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}

.cta-heading {
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
}

.pricing-button {
  padding: 5%;
  text-align: center;
}

#footer {
  padding: 7% 15%;
  /* padding-top: 40px; */
  text-align: center;
}
